@import (reference) '~antd/es/style/themes/index';

.urlContent {
  float: left;
  width: 200px;
  margin-top: 5px;
  margin-left: 10px;
  padding: 10px 0;
  background-color: antiquewhite;
}

.urlImg {
  float: left;
  width: 35px;
  height: 35px;
  margin-top: 1px;
  margin-left: 2px;
}

.urlText {
  float: left;
  width: 150px;
  height: 50px;
  margin-top: 1px;
  margin-left: 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.urlOperate {
  float: left;
  width: 20px;
  height: 70px;
  margin-top: 5px;
  background-color: rgb(216, 250, 215);
}

.MyDiyWebButton > button {
  margin-left: 20px;
  background-color: rgb(8, 20, 235);
}
:global {
  .ant-tabs > .ant-tabs-nav .ant-tabs-nav-list,
  .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    transition: transform 0.3s;
  }
}

.myImg {
  float: left;
  width: 300px;
  height: 300px;
}
