@import (reference) '~antd/es/style/themes/index';



.urlContent {
  padding: 8px 0;
  float: left;
  width: 200px;
  margin-left: 20px;
  margin-top: 5px;
  background-color: antiquewhite;
}


.urlImg {
  float: left;
  width: 100px;
  margin-left: 20px;
  margin-top: 5px;
}