@import (reference) '~antd/es/style/themes/index';

.myChat {
  float: left;
  width: 100%;
  min-width: 800px;
  height: 750px;
  margin-top: 1px;
  margin-left: 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.myImg {
  float: left;
  width: 300px;
  height: 300px;
}

.wxzsmModal {
  width: 500px;
  height: 500px;
}

.myChatDiv {
  float: left;
  height: 50vh;
  overflow-y: auto;
  word-break: break-all;
  background-color: rgb(235, 234, 238);
}

.myChatLeft {
  float: left;
  width: 80vw;
  margin: 20px;
  word-break: break-all;
  background-color: beige;
}

.myChatRight {
  float: right;
  width: 80vw;
  margin: 20px;
  word-break: break-all;
  background-color: beige;
}

.myChatForm {
  float: left;
  width: 100%;
  margin-top: 10px;
}

:global {
  .ant-tabs > .ant-tabs-nav .ant-tabs-nav-list,
  .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    transition: transform 0.3s;
  }
}